.lift-cabin {
    position: absolute;
    width: 22%;
    height: 24%;
    background-color: #888;
    display: flex;
    overflow: hidden;
    z-index: 5;
    transition: top 5s ease;
    margin-top: 10%;
}

.lift-cabin.left {
    left: 10%;
}

.lift-cabin.right {
    right: 10%;
}

.door {
    width: 50%;
    background-color: #ccc;
    transition: transform 5s ease-in-out;
    z-index: 10;
}

.door.left {
    border-right: 1px solid #666;
    transform: translateX(0%);
}

.door.left.open {
    transform: translateX(-100%);
}

.door.right {
    border-left: 1px solid #666;
    transform: translateX(0%);
}

.door.right.open {
    transform: translateX(100%);
}