.lift-cabin {
  position: absolute;
  left: 10%;
  width: 120px;
  height: 25%;
  background-color: #888;
  display: flex;
  overflow: hidden;
  z-index: 10;
  transition: top 3s ease;
  margin-top: 55px;
}

.door {
  width: 50%;
  background-color: #ccc;
  transition: transform 0.5s ease;
}

.door.left {
  border-right: 1px solid #666;
}

.door.right {
  border-left: 1px solid #666;
}




